<style type="text/css">
div#dstacs_<{$block.mgo_blo_section}>.jdGallery .slideInfoZone
{
	position: absolute;
	z-index: 17;
	width: 100%;
	margin: 0px;
	left: 0;
	bottom: 0;
	height: 30px;
	background: #<{$block.mgo_blo_bgcolor}>;
	color: #<{$block.mgo_blo_txtcolor}>;
	text-indent: 0;
	overflow: hidden;
}
div#dstacs_<{$block.mgo_blo_section}>.jdGallery .slideInfoZone div a
{
	padding: 0;
	margin: 0;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal !important;
	color:#<{$block.mgo_blo_txtcolor}> !important;
	text-decoration:none;
}
</style>
<{$block.dstac}>